<% if @density.errors.any? %>
  <% @density.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit density #<%= @density.id %>
</h1>

<hr>

<form action="/update_density/<%= @density.id %>" method="post">

  <div class="form-group">
    <label for="level">
      Level
    </label>

    <input type="text" id="level" name="level" class="form-control" value="<%= @density.level %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"><%= @density.description %></textarea>
  </div>

  <div class="form-group">
    <label for="position">
      Position
    </label>

    <input type="text" id="position" name="position" class="form-control" value="<%= @density.position %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update density
  </button>
</form>

<hr>

<a href="/densities">
  Go back
</a>
