<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All densities
    </h1>

    <a href="/densities/new" class="btn btn-block btn-outline-secondary">
      Add a new density
    </a>
  </div>
</div>

<!-- Ransack Code start -->
<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "density_templates/densities_search_form" %>
  </div>
</div>
<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Level
        </th>

        <th>
          Description
        </th>

        <th>
          Position
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @densities.each do |density| %>
      <tr>
        <!-- Display density.id start -->
        <td>
          <%= density.id %>
        </td>
        <!-- Display density.id end -->

        <!-- Display density.level start -->
        <td>
          <%= density.level %>
        </td>
        <!-- Display density.level end -->

        <!-- Display density.description start -->
        <td>
          <%= density.description %>
        </td>
        <!-- Display density.description end -->

        <!-- Display density.position start -->
        <td>
          <%= density.position %>
        </td>
        <!-- Display density.position end -->

        <!-- Display density.created_at start -->
        <td>
          <%= time_ago_in_words(density.created_at) %> ago
        </td>
        <!-- Display density.created_at end -->

        <!-- Display density.updated_at start -->
        <td>
          <%= time_ago_in_words(density.updated_at) %> ago
        </td>
        <!-- Display density.updated_at end -->

        <td>
          <a href="/densities/<%= density.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @densities, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
