<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All densities
    </h1>

    <a href="/densities/new" class="btn btn-block btn-outline-secondary">
      Add a new density
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "density_templates/densities_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Level
        </th>

        <th>
          Description
        </th>

        <th>
          Position
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @densities.each do |density| %>
      <tr>
        <td>
          <%= density.id %>
        </td>

        <td>
          <%= density.level %>
        </td>

        <td>
          <%= density.description %>
        </td>

        <td>
          <%= density.position %>
        </td>

        <td>
          <%= time_ago_in_words(density.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(density.updated_at) %> ago
        </td>

        <td>
          <a href="/densities/<%= density.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @densities, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
