<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Density #<%= @density.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/densities" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/densities/<%= @density.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit density
        </a>
      </div>

      <div class="col">
        <a href="/delete_density/<%= @density.id %>" class="btn btn-block btn-outline-secondary">
          Delete density
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Level
      </dt>
      <dd>
        <%= @density.level %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @density.description %>
      </dd>

      <dt>
        Position
      </dt>
      <dd>
        <%= @density.position %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@density.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@density.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "density_templates/density_users" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "density_templates/density_products" %>
  </div>
</div>
