<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      User #<%= @user.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/users" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/users/<%= @user.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit user
        </a>
      </div>

    </div>

    <dl>
      <dt>
        Email
      </dt>
      <dd>
        <%= @user.email %>
      </dd>

      <dt>
        Password
      </dt>
      <dd>
        <%= @user.password %>
      </dd>

      <dt>
        Username
      </dt>
      <dd>
        <%= @user.username %>
      </dd>

      <dt>
        Curl pattern
      </dt>
      <dd>
        <% if @user.curl_pattern.present? %>
          <a href="/curl_patterns/<%= @user.curl_pattern_id %>">
            <%= @user.curl_pattern.number %>
          </a>
        <% end %>
      </dd>

      <dt>
        Porosity
      </dt>
      <dd>
        <% if @user.porosity.present? %>
          <a href="/porosities/<%= @user.porosity_id %>">
            <%= @user.porosity.level %>
          </a>
        <% end %>
      </dd>

      <dt>
        Density
      </dt>
      <dd>
        <% if @user.density.present? %>
          <a href="/densities/<%= @user.density_id %>">
            <%= @user.density.level %>
          </a>
        <% end %>
      </dd>

      <dt>
        Age group
      </dt>
      <dd>
        <% if @user.age_group.present? %>
          <a href="/age_groups/<%= @user.age_group_id %>">
            <%= @user.age_group.range %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@user.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@user.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "user_templates/user_reviews" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "user_templates/user_products" %>
  </div>
</div>
