<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      User #<%= @user.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/users" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link user start -->
      <div class="col">
        <a href="/users/<%= @user.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit user
        </a>
      </div>
      <!-- Edit link user end -->

    </div>

    <dl>
      <dt>
        Email
      </dt>
      <!-- Display email start -->
      <dd>
        <%= @user.email %>
      </dd>
      <!-- Display email end -->

      <dt>
        Password
      </dt>
      <!-- Display password start -->
      <dd>
        <%= @user.password %>
      </dd>
      <!-- Display password end -->

      <dt>
        Username
      </dt>
      <!-- Display username start -->
      <dd>
        <%= @user.username %>
      </dd>
      <!-- Display username end -->

      <dt>
        Curl pattern
      </dt>
      <!-- Display curl_pattern_id start -->
      <dd>
        <% if @user.curl_pattern.present? %>
          <a href="/curl_patterns/<%= @user.curl_pattern_id %>">
            <%= @user.curl_pattern.number %>
          </a>
        <% end %>
      </dd>
      <!-- Display curl_pattern_id end -->

      <dt>
        Porosity
      </dt>
      <!-- Display porosity_id start -->
      <dd>
        <% if @user.porosity.present? %>
          <a href="/porosities/<%= @user.porosity_id %>">
            <%= @user.porosity.level %>
          </a>
        <% end %>
      </dd>
      <!-- Display porosity_id end -->

      <dt>
        Density
      </dt>
      <!-- Display density_id start -->
      <dd>
        <% if @user.density.present? %>
          <a href="/densities/<%= @user.density_id %>">
            <%= @user.density.level %>
          </a>
        <% end %>
      </dd>
      <!-- Display density_id end -->

      <dt>
        Age group
      </dt>
      <!-- Display age_group_id start -->
      <dd>
        <% if @user.age_group.present? %>
          <a href="/age_groups/<%= @user.age_group_id %>">
            <%= @user.age_group.range %>
          </a>
        <% end %>
      </dd>
      <!-- Display age_group_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@user.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@user.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "user_templates/user_reviews" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "user_templates/user_products" %>
  </div>
</div>
<!-- Show Page Customization end -->
