<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Product #<%= @product.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/products" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link product start -->
      <div class="col">
        <a href="/products/<%= @product.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit product
        </a>
      </div>
      <!-- Edit link product end -->

      <!-- Delete link product start -->
      <div class="col">
        <a href="/delete_product/<%= @product.id %>" class="btn btn-block btn-outline-secondary">
          Delete product
        </a>
      </div>
      <!-- Delete link product end -->
    </div>

    <dl>
      <dt>
        Product category
      </dt>
      <!-- Display product_category_id start -->
      <dd>
        <% if @product.product_category.present? %>
          <a href="/product_categories/<%= @product.product_category_id %>">
            <%= @product.product_category.name %>
          </a>
        <% end %>
      </dd>
      <!-- Display product_category_id end -->

      <dt>
        Name
      </dt>
      <!-- Display name start -->
      <dd>
        <%= @product.name %>
      </dd>
      <!-- Display name end -->

      <dt>
        Amazon asin
      </dt>
      <!-- Display amazon_asin start -->
      <dd>
        <%= @product.amazon_asin %>
      </dd>
      <!-- Display amazon_asin end -->

      <dt>
        Photo
      </dt>
      <!-- Display photo start -->
      <dd>
        <img src="<%= @product.photo %>" class="img-fluid">
      </dd>
      <!-- Display photo end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@product.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@product.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "product_templates/product_ingredients" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "product_templates/product_reviews" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "product_templates/product_curl_patterns" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "product_templates/product_porosities" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "product_templates/product_densities" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "product_templates/product_substances" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "product_templates/product_users" %>
  </div>
</div>
<!-- Show Page Customization end -->
