<h1>
  Edit curl pattern #<%= @curl_pattern.id %>
</h1>

<hr>

<form action="/update_curl_pattern/<%= @curl_pattern.id %>" method="post">

  <div class="form-group">
    <label for="number">
      Number
    </label>

    <input type="text" id="number" name="number" class="form-control" value="<%= @curl_pattern.number %>">
  </div>

  <div class="form-group">
    <label for="letter">
      Letter
    </label>

    <input type="text" id="letter" name="letter" class="form-control" value="<%= @curl_pattern.letter %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"><%= @curl_pattern.description %></textarea>
  </div>

  <div class="form-group">
    <label for="position">
      Position
    </label>

    <input type="text" id="position" name="position" class="form-control" value="<%= @curl_pattern.position %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update curl pattern
  </button>
</form>

<hr>

<a href="/curl_patterns">
  Go back
</a>
