<form action="/create_user_from_age_group" method="post">

  <div class="form-group">
    <label for="email">
      Email
    </label>

    <input type="text" id="email" name="email" class="form-control" value="<%= @user.email %>">
  </div>

  <div class="form-group">
    <label for="password">
      Password
    </label>

    <input type="text" id="password" name="password" class="form-control" value="<%= @user.password %>">
  </div>

  <div class="form-group">
    <label for="username">
      Username
    </label>

    <input type="text" id="username" name="username" class="form-control" value="<%= @user.username %>">
  </div>

  <div class="form-group">
    <label for="curl_pattern_id">
      Curl pattern
    </label>

    <%= select_tag(:curl_pattern_id, options_from_collection_for_select(CurlPattern.all, :id, :number, @user.curl_pattern_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="porosity_id">
      Porosity
    </label>

    <%= select_tag(:porosity_id, options_from_collection_for_select(Porosity.all, :id, :level, @user.porosity_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="density_id">
      Density
    </label>

    <%= select_tag(:density_id, options_from_collection_for_select(Density.all, :id, :level, @user.density_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="age_group_id" value="<%= @age_group.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create user
  </button>
</form>
