<h1>
  Edit porosity #<%= @porosity.id %>
</h1>

<hr>

<form action="/update_porosity/<%= @porosity.id %>" method="post">

  <div class="form-group">
    <label for="level">
      Level
    </label>

    <input type="text" id="level" name="level" class="form-control" value="<%= @porosity.level %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"><%= @porosity.description %></textarea>
  </div>

  <div class="form-group">
    <label for="position">
      Position
    </label>

    <input type="text" id="position" name="position" class="form-control" value="<%= @porosity.position %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update porosity
  </button>
</form>

<hr>

<a href="/porosities">
  Go back
</a>
