<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All porosities
    </h1>

    <a href="/porosities/new" class="btn btn-block btn-outline-secondary">
      Add a new porosity
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "porosity_templates/porosities_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Level
        </th>

        <th>
          Description
        </th>

        <th>
          Position
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @porosities.each do |porosity| %>
      <tr>
        <td>
          <%= porosity.id %>
        </td>

        <td>
          <%= porosity.level %>
        </td>

        <td>
          <%= porosity.description %>
        </td>

        <td>
          <%= porosity.position %>
        </td>

        <td>
          <%= time_ago_in_words(porosity.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(porosity.updated_at) %> ago
        </td>

        <td>
          <a href="/porosities/<%= porosity.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @porosities, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
