<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Porosity #<%= @porosity.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/porosities" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/porosities/<%= @porosity.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit porosity
        </a>
      </div>

      <div class="col">
        <a href="/delete_porosity/<%= @porosity.id %>" class="btn btn-block btn-outline-secondary">
          Delete porosity
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Level
      </dt>
      <dd>
        <%= @porosity.level %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @porosity.description %>
      </dd>

      <dt>
        Position
      </dt>
      <dd>
        <%= @porosity.position %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@porosity.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@porosity.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "porosity_templates/porosity_users" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "porosity_templates/porosity_products" %>
  </div>
</div>
