<% if @review.errors.any? %>
  <% @review.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit review #<%= @review.id %>
</h1>

<hr>

<form action="/update_review/<%= @review.id %>" method="post">

  <div class="form-group">
    <label for="body">
      Body
    </label>

    <input type="text" id="body" name="body" class="form-control" value="<%= @review.body %>">
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @review.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="product_id">
      Product
    </label>

    <%= select_tag(:product_id, options_from_collection_for_select(Product.all, :id, :name, @review.product_id), :class => "form-control") %>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="would_use_again">
    <input id="would_use_again" class="form-check-input" name="would_use_again" type="checkbox" value="1" <%= "checked" if @review.would_use_again %>>
    <label for="would_use_again" class="form-check-label">
      Would use again
    </label>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update review
  </button>
</form>

<hr>

<a href="/reviews">
  Go back
</a>
