<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All reviews
    </h1>

    <a href="/reviews/new" class="btn btn-block btn-outline-secondary">
      Add a new review
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Body
        </th>

        <th>
          User
        </th>

        <th>
          Product
        </th>

        <th>
          Would use again
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @reviews.each do |review| %>
      <tr>
        <!-- Display review.id start -->
        <td>
          <%= review.id %>
        </td>
        <!-- Display review.id end -->

        <!-- Display review.body start -->
        <td>
          <%= review.body %>
        </td>
        <!-- Display review.body end -->

        <!-- Display review.user_id start -->
        <td>
          <%= review.user_id %>
        </td>
        <!-- Display review.user_id end -->

        <!-- Display review.product_id start -->
        <td>
          <%= review.product_id %>
        </td>
        <!-- Display review.product_id end -->

        <!-- Display review.would_use_again start -->
        <td>
          <%= review.would_use_again %>
        </td>
        <!-- Display review.would_use_again end -->

        <!-- Display review.created_at start -->
        <td>
          <%= time_ago_in_words(review.created_at) %> ago
        </td>
        <!-- Display review.created_at end -->

        <!-- Display review.updated_at start -->
        <td>
          <%= time_ago_in_words(review.updated_at) %> ago
        </td>
        <!-- Display review.updated_at end -->

        <td>
          <a href="/reviews/<%= review.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
