<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Review #<%= @review.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/reviews" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/reviews/<%= @review.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit review
        </a>
      </div>

      <div class="col">
        <a href="/delete_review/<%= @review.id %>" class="btn btn-block btn-outline-secondary">
          Delete review
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Body
      </dt>
      <dd>
        <%= @review.body %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @review.user.present? %>
          <a href="/users/<%= @review.user_id %>">
            <%= @review.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Product
      </dt>
      <dd>
        <% if @review.product.present? %>
          <a href="/products/<%= @review.product_id %>">
            <%= @review.product.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Would use again
      </dt>
      <dd>
        <%= @review.would_use_again %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@review.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@review.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

